NODE_ENV=development

PORT=3000

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nexus

JWT_SECRET=nexus-secret-key-change-in-production
JWT_EXPIRATION=7d

MP_PUBLIC_KEY=your-mercadopago-public-key
MP_ACCESS_TOKEN=your-mercadopago-access-token
FRONTEND_URL=http://localhost:8081

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1
